.aioseo-breadcrumbs {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 12px;
  -moz-column-gap: 12px;
  column-gap: 12px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  @media(max-width: 991px) {
    font-size: 12px;
    -webkit-column-gap: 6px;
    -moz-column-gap: 6px;
    column-gap: 6px;
  }
}

.aioseo-breadcrumbs a {
  -webkit-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  transition: color 0.2s linear;
  color: #000;
}

.aioseo-breadcrumbs a:hover {
  color: var(--blue);
}