// btn
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  transition: background-color .2s linear, color .2s linear;
  column-gap: 15px;
  min-height: 52px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 50px;
  cursor: pointer;

  &--lg {
    height: 65px;

    @media(max-width: 991px) {
      height: 50px;
    }
  }

  &--sm {
    min-height: 34px;
    padding-left: 16px;
    padding-right: 16px;
  }

  &--white {
    background-color: #fff;
  }

  &--blue {
    background-color: var(--blue);
    color: #fff;

    &:hover {
      background-color: var(--dark-blue);
    }

    .arrow {
      background-color: #fff;
      border-radius: 50%;
    }
  }

  &--dark-blue {
    background-color: var(--dark-blue);
    color: #fff;

    &:hover {
      background-color: #fff;
      color: var(--main-color);
    }
  }

  svg {
    width: 16px;
    height: 16px;
    stroke: #000;
  }

  .arrow {
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.pr-4 {
    padding-right: 4px;
  }

  &.pl-20 {
    padding-left: 20px;
  }

  &.h-50 {
    min-height: 50px;
  }

  &.w-100 {
    width: 100%;
  }

  &.pe-none {
    pointer-events: none;
  }
}

.loadmore {
  margin-top: 50px;
}

.authorContentBtn {
  height: 50px;
  padding-left: 28px;
  padding-right: 28px;
  border: 1px solid var(--outline);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  color: var(--blue);
  transition: background-color .2s linear;
  &:hover {
    background-color: var(--outline);
  }
}
.vacItemBtn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #f7f7fb;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('@img/icons/arrow-down.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12px;
  transition: background .2s linear;
}