/* Hamburger Menu */
.hamburger {
  align-self: center;
  flex-direction: column;
  justify-content: center;
  row-gap: 4px;
  width: 36px;
  height: 36px;
  background-color: var(--dark-blue);
  border-radius: 50%;
  margin-right: 0;
  cursor: pointer;
  padding-left: 9px;
  padding-right: 9px;
  position: relative;
  // transition: background 0.2s linear;  
  display: none;
  flex-shrink: 0;

  @media (max-width: 991px) {
    display: flex;

  }
}

.hamburger div {
  align-self: flex-start;
  height: 2px;
  width: 100%;
  background: #fff;
  border-radius: 2px;
}

.hamburger .meat {
  width: 100%;
}

.top-bun.active,
.meat.active,
.bottom-bun.active {
  opacity: 0;
}

