.intro {
  background-color: var(--bg);
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  &Grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 50px;
    margin-bottom: 50px;
    .col {
      grid-column: 6 span;
    }
  }
  &Title {
    text-transform: uppercase;
  }
  .arrow-round {
    margin-bottom: 30px;
  }
  &Image {
    border-radius: 25px;
  }
}