.map {

  &W {
    display: flex;
    column-gap: 20px;

    @media(max-width: 991px) {
      flex-direction: column;
      row-gap: 20px;
    }
  }

  &Content {
    height: 100%;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    background-color: #F7F7FB;
    width: 400px;
    flex-shrink: 0;

    @media(max-width: 1400px) {
      min-height: 400px;
    }

    @media(max-width: 991px) {
      width: 100%;
    }

    @media(max-width: 575px) {
      padding: 20px;
      border-radius: 16px;
      min-height: unset;
    }
  }

  &Inner {
    width: 100%;
  }
}

.maps__map {
  width: 100%;
  min-height: 500px;
  height: 100%;
  border-radius: 25px;
  overflow: hidden;

  @media(max-width: 1400px) {
    min-height: 400px;
  }
  @media(max-width: 575px){
    border-radius: 16px;
    min-height: 450px;
  }
}