.order {
  overflow: hidden;

  .h2 {
    color: #fff;
    margin-bottom: 30px;
  }

  &W {
    background: #1161b9 url('@img/order/order-bg.png') no-repeat left top / contain;
    padding: 60px;
    border-radius: 25px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
    position: relative;

    @media(max-width: 767px) {
      padding: 30px 20px;
      border-radius: 24px;
    }

    @media(max-width: 575px) {
      margin-left: -12px;
      margin-right: -12px;
      background: #1161b9 url('@img/order/order-bg-sm.png') no-repeat left bottom / cover;
    }

    &>.col {
      grid-column: 6 span;

      &:nth-child(1) {
        @media(max-width: 1400px) {
          grid-column: 5 span;
        }

        @media(max-width: 991px) {
          grid-column: 12 span;
        }
      }

      &:nth-child(2) {
        @media(max-width: 1400px) {
          grid-column: 7 span;
        }

        @media(max-width: 991px) {
          grid-column: 12 span;
        }
      }
    }
  }

  &Bg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 100%;
    object-fit: cover;
  }

  .input-name {
    color: #fff;
  }

  .agreement {
    color: #fff;

    .rect {
      background-color: #fff;
    }

    input {
      &:checked {
        &+label {
          .rect {
            background: var(--dark-blue) url('@img/icons/check-white.svg') no-repeat center center / 11px;
          }
        }
      }
    }
  }

  .button {
    height: fit-content;
  }
}