.req {
  .sectHead {
    display: flex;
    column-gap: 130px;
    margin-bottom: 50px;

    @media(max-width: 991px) {
      column-gap: 50px;
      margin-bottom: 10px;
    }

    @media(max-width: 575px) {
      margin-bottom: 10px;
      column-gap: 0;
      row-gap: 20px;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &Content {

    ul {
      li {
        padding-left: 20px;
        padding-right: 20px;
        line-height: 140%;
        display: flex;
        column-gap: 40px;
        padding-bottom: 20px;
        padding-top: 20px;
        border-bottom: 1px solid #e1e1e8;
        transition: background-color .2s linear;
        position: relative;

        @media(max-width: 991px) {
          flex-direction: column;
          row-gap: 10px;
          font-size: 14px;
          padding-left: 0;
          padding-right: 0;
        }

        &:hover {
          background-color: var(--bg);
          @media(max-width: 991px){
            background-color: transparent;
          }

          .reqItemBtn {
            opacity: 1;
            visibility: visible;
          }
        }

        span {
          &:nth-child(1) {
            width: 400px;
            flex-shrink: 0;
            color: #73737b;

            @media(max-width: 991px) {
              width: calc(100% - 38px);
            }
          }

          &:nth-child(2) {
            width: calc(100% - 110px);
            display: flex;
            @media(max-width: 991px){
              width: 100%;
            }
          }
        }

        .copyTextOfItem {
          position: absolute;
          right: 20px;
          bottom: -5px;
          display: none;
          padding: 3px;
          font-size: 14px;
          @media(max-width: 991px){
            font-size: 12px;
            bottom: 2px;
            right: 0;
          }

          &.active {
            display: block;
          }
        }
      }
    }
  }
}

.reqItemBtn {
  width: 20px;
  height: 20px;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity .2s linear, visibility .2s linear;
  background: url('@img/icons/copy-black.svg') no-repeat center center / 16px;

  @media(max-width: 991px) {
    visibility: visible;
    opacity: 1;
    position: absolute;
    right: 0px;
    top: 15px;
  }

  &:hover {
    opacity: .85;
  }
}