// Specifications
* {
  box-sizing: border-box;
}

*::after {
  box-sizing: border-box;
}

*::before {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: var(--main-color);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: normal;
}

html {
  scroll-behavior: smooth;
}

body.hidden {
  overflow: hidden
}

body.modal-open {
  overflow: hidden;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

table {
  border-spacing: 0;
  width: 100%;
}

section {
  padding-top: 100px;
  padding-bottom: 100px;

  @media(max-width: 991px) {
    padding-bottom: 35px;
    padding-top: 35px;
  }
}

.sect {
  &.pb-0 {
    padding-bottom: 0;
  }

  &.pt-0 {
    padding-top: 0;
  }
}

.formInput {
  height: 50px;
  border-radius: 5px;
  border: 1px solid #838383;
  background-color: #ffffff;
  width: 100%;
  padding-left: 25px;
  font-size: 16px;

  @media(max-width: 1199px) {
    padding-left: 20px;
  }

  &::placeholder {
    color: #b0b0b0;
    font-size: 16px;
  }
}

.fw-medium {
  font-weight: 500;
}

.fw-semibold {
  font-weight: 600;
}

.fw-bold {
  font-weight: 700;
}

.sectHead {
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 991px) {
    margin-bottom: 24px;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
  background-color: #fff;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  padding: 0 var(--container-offset);
  // max-width: var(--container-width);
  // margin: 0 auto;

  @media (max-width: 575px) {
    padding: 0 12px;
  }
}


.container {
  padding: 0 15px;
}

@media (min-width: 575.98px) {
  .container {
    max-width: 540px;
    margin: auto;
    padding: 0;
  }
}

@media (min-width: 767.98px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 991.98px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1199.98px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1370px;
  }
}

@media (min-width: 1600px) {
  .container {
    max-width: 1520px;
  }
}


.container-fluid {
  max-width: 100%;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: var(--font-family);
  color: var(--main-color);
  font-weight: 600;
  line-height: normal;
}

h1,
.h1 {
  font-size: 48px;
  line-height: 120%;
  font-weight: 800;
  text-transform: uppercase;
  span {
    color: var(--blue);
  }

  @media(max-width: 1199px) {
    font-size: 24px;
  }
}

h2,
.h2 {
  font-size: 44px;
  font-weight: 600;

  @media(max-width: 1199px) {
    font-size: 20px;
  }
}

h3,
.h3 {
  font-size: 24px;

  @media (max-width: 1199px) {
    font-size: 16px;
  }
}

.underline {
  text-decoration: underline;
}

@-webkit-keyframes shows {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes shows {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.content {
  &>p {
    margin-bottom: 15px;

    a {
      display: inline;
      border-bottom: 1px solid #000;
    }
  }

  &>ul {
    margin-top: 15px;
    margin-bottom: 15px;
    list-style-type: disc;
    padding-left: 20px;
  }

  &>a {
    display: inline;
    border-bottom: 1px solid #000;
  }
}

.mail {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  &:hover {
    text-decoration: underline;
    color: var(--blue);
  }
}
.arrow-round {
  border: 1px solid var(--outline);
  width: 58px;
  height: 58px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  svg {
    fill: var(--main-color);
    stroke: var(--main-color);
    width: 18px;
    height: 18px;
  }
}
.text--md {
  font-size: 20px;
  line-height: 150%;
}
a.color-black {
  &:hover {
    color: var(--blue);
  }
}
.color-gray {
  color: var(--gray);
}
.color-gray2 {
  color: var(--gray2);
}
.rounded-25 {
  border-radius: 25px;
}