// Specifications
* {
  box-sizing: border-box;
}

*::after {
  box-sizing: border-box;
}

*::before {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: var(--main-color);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: normal;
}

html {
  scroll-behavior: smooth;
}

body.hidden {
  overflow: hidden
}

body.modal-open {
  overflow: hidden;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

table {
  border-spacing: 0;
  width: 100%;
}

section {
  padding-top: 100px;
  padding-bottom: 100px;

  @media(max-width: 1400px) {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  @media(max-width: 991px) {
    padding-bottom: 50px;
    padding-top: 50px;
  }
}

.sect {
  &.pb-0 {
    padding-bottom: 0;
  }

  &.pt-0 {
    padding-top: 0;
  }
}

.formInput {
  height: 52px;
  border-radius: 50px;
  background-color: #ffffff;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 16px;

  @media(max-width: 991px) {
    padding-left: 16px;
    height: 43px;
  }

  &::placeholder {
    color: var(--gray2);
    font-size: 16px;
  }

  &.border-outline {
    border: 1px solid var(--outline);

    &:focus {
      border-color: var(--main-color);
    }
  }

  &--search {
    background-image: url('@img/icons/search.svg');
    background-repeat: no-repeat;
    background-position: right 20px center;
    background-size: 21px;
    padding-right: 50px;
  }
}

.formSelect {
  background-color: #fff;
  height: 52px;
  border-radius: 50px;
  padding-left: 28px;
  padding-right: 30px;
  width: 100%;
  cursor: pointer;
  background-position: right 30px center;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('@img/icons/arrow-down.svg');
  background-size: 12px;
  background-repeat: no-repeat;

  @media(max-width: 991px) {
    padding-left: 16px;
    height: 43px;
  }

  &.border-outline {
    border: 1px solid var(--outline);

    &:focus {
      border-color: var(--main-color);
    }
  }
}

.input-name {
  font-size: 14px;
}

.fw-medium {
  font-weight: 500;
}

.fw-semibold {
  font-weight: 600;
}

.fw-bold {
  font-weight: 700;
}

.sectHead {
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
  row-gap: 20px;
  flex-wrap: wrap;

  @media(max-width: 1199px) {
    margin-bottom: 40px;
  }

  @media (max-width: 991px) {
    margin-bottom: 30px;
    row-gap: 10px;
  }
}

.sectPage {
  padding-top: 60px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  margin-top: -60px;
  background-color: #fff;

  @media(max-width: 991px) {
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    padding-top: 30px;
  }
}

.pageHead {
  padding-bottom: 50px;
  padding-top: 30px;
  background-color: var(--bg);

  .h1 {
    margin-top: 20px;
    max-width: 900px;
  }

  &Article {
    display: flex;
    align-items: center;
    column-gap: 20px;
    row-gap: 10px;
    margin-top: 20px;
    flex-wrap: wrap;
  }

  &--long {
    padding-bottom: 110px;

    @media(max-width: 991px) {
      padding-bottom: 80px;
    }
  }
}

.bg--bg {
  background-color: var(--bg);
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
  background-color: #fff;
  padding-top: 192px;
  @media(max-width: 991px){
    padding-top: 60px;
  }

}

.main {
  flex: 1 0 auto;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  z-index: 1;
  background-color: #fff;

  @media(max-width: 991px) {
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
  }
}

.footer {
  flex: 0 0 auto;
}




.container {
  padding: 0 15px;
}

.container {
  padding: 0 var(--container-offset);
  // max-width: var(--container-width);
  // margin: 0 auto;

  @media (max-width: 575px) {
    padding: 0 12px;
  }
}

@media (min-width: 575.98px) {
  .container {
    max-width: 540px;
    margin: auto;
    padding: 0;
  }
}

@media (min-width: 767.98px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 991.98px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1199.98px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1370px;
  }
}

@media (min-width: 1600px) {
  .container {
    max-width: 1520px;
  }
}


.container-fluid {
  max-width: 100%;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: var(--font-family);
  color: var(--main-color);
  font-weight: 600;
  line-height: normal;
}

h1,
.h1 {
  font-size: 44px;
  line-height: 120%;
  font-weight: 800;
  text-transform: uppercase;

  @media(max-width: 1400px) {
    font-size: 34px;
  }

  @media(max-width: 1199px) {
    font-size: 26px;
  }

  span {
    color: var(--blue);
  }

  @media(max-width: 1199px) {
    font-size: 24px;
  }

  &.text-normal {
    text-transform: unset;
    font-weight: 600;
  }
}

h2,
.h2 {
  font-size: 44px;
  font-weight: 600;

  @media(max-width: 1400px) {
    font-size: 30px;
  }

  @media(max-width: 1199px) {
    font-size: 24px;
  }
}

h3,
.h3 {
  font-size: 18px;

  @media (max-width: 1199px) {
    font-size: 16px;
  }
}

.underline {
  text-decoration: underline;
}

@-webkit-keyframes shows {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes shows {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.content {
  line-height: 150%;

  &>p {
    margin-bottom: 15px;

    a {
      display: inline;
      border-bottom: 1px solid #000;
    }
  }

  &>ul {
    margin-top: 15px;
    margin-bottom: 15px;
    list-style-type: disc;
    padding-left: 20px;
  }

  &>a {
    display: inline;
    border-bottom: 1px solid #000;
  }

  &.content-lg-14 {
    @media(max-width: 991px) {
      font-size: 14px;
    }
  }
}

.mail {
  text-decoration: underline;
  text-decoration-skip-ink: none;

  &:hover {
    text-decoration: underline;
    color: var(--blue);
  }
}

.arrow-round {
  border: 1px solid var(--outline);
  width: 58px;
  height: 58px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  @media(max-width: 1400px) {
    width: 46px;
    height: 46px;
  }

  svg {
    fill: var(--main-color);
    stroke: var(--main-color);
    width: 18px;
    height: 18px;

    @media(max-width: 1400px) {
      width: 14px;
      height: 14px;
    }
  }
}

.text--md {
  font-size: 20px;
  line-height: 150%;

  @media(max-width: 1400px) {
    font-size: 18px;
  }

  @media(max-width: 1199px) {
    font-size: 14px;
  }
}

.color-white {
  color: #fff;

  &-50 {
    color: rgba(#fff, .5);
  }
}

a.color-black {
  &:hover {
    color: var(--blue);
  }
}

.color-gray {
  color: var(--gray);
}

.color-gray2 {
  color: var(--gray2);
}

.rounded-25 {
  border-radius: 25px;

  &.rounded-sm-16 {
    @media(max-width: 575px) {
      border-radius: 16px;
    }
  }

  &.rounded-sm-24 {
    @media(max-width: 575px) {
      border-radius: 24px;
    }
  }
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-15 {
  margin-bottom: 15px;

  &.mb-lg-10 {
    @media(max-width: 991px) {
      margin-bottom: 10px;
    }
  }
}

.mb-25 {
  margin-bottom: 25px;

  &.mb-lg-20 {
    @media(max-width: 991px) {
      margin-bottom: 20px;
    }
  }
}

.mb-50 {
  margin-bottom: 50px;

  &.mb-lg-30 {
    @media(max-width: 991px) {
      margin-bottom: 30px;
    }
  }
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;

  &.mb-lg-10 {
    @media(max-width: 991px) {
      margin-bottom: 10px;
    }
  }
}

.gap-10 {
  gap: 10px;

  &.gap-sm-5 {
    @media(max-width: 575px) {
      gap: 5px;
    }
  }
}

.gap-15 {
  gap: 15px;
}

.gap-70 {
  gap: 70px;

  &.gap-md-15 {
    @media(max-width: 767px) {
      gap: 15px;
    }
  }
}

.p-30 {
  padding: 30px;

  &.p-lg-20 {
    @media(max-width: 991px) {
      padding: 20px;
    }
  }
}

.d-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);

  &.grid-column-3 {
    .col {
      grid-column: 4 span;
    }

    &.grid-column-sm-2 {
      .col {
        @media(max-width: 991px) {
          grid-column: 6 span;
        }
      }
    }
  }
}

.text-uppercase {
  text-transform: uppercase;
}

.agreement {
  font-size: 14px;

  @media(max-width: 767px) {
    font-size: 12px;
  }

  label {
    display: flex;
    column-gap: 8px;
    cursor: pointer;
  }

  input {
    display: none;
  }

  .rect {
    width: 16px;
    height: 16px;
    border-radius: 2px;
    flex-shrink: 0;
  }

  a {
    text-decoration: underline;
    text-decoration-skip-ink: none;

    &:hover {
      text-decoration: underline;
      opacity: .85;
    }
  }

  &Flex {
    display: flex;
    column-gap: 10px;

    @media(max-width: 767px) {
      flex-direction: column;
      row-gap: 10px;
    }

    .button {
      flex-shrink: 0;
    }
  }
}

.socialsForm {
  input {
    display: none;

    &:checked {
      &+label {
        background: #72b0f3;
      }
    }
  }

  label {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 52px;
    background-color: #fff;
    border-radius: 50px;
    transition: background .2s linear;
    cursor: pointer;

    @media(max-width: 767px) {
      font-size: 14px;
      height: 43px;
    }

    &:hover {
      background: #72b0f3;
    }
  }
}

.navArrow {
  border-radius: 50%;
  border: 1px solid var(--outline);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
  flex-shrink: 0;
  transition: border-color .2s linear;

  @media(max-width: 575px) {
    width: 43px;
    height: 43px;
  }

  &:hover {
    border-color: var(--dark-blue);
  }

  &.swiper-button-disabled {
    opacity: .4;
    pointer-events: none;
  }

  img {
    @media(max-width: 575px) {
      width: 15px;
    }
  }
}

.navArrowW {
  display: flex;
  column-gap: 20px;

  @media(max-width: 575px) {
    column-gap: 10px;
  }
}

.sliderW {
  overflow: hidden;
}

.fz-13 {
  font-size: 13px;

  &.fz-sm-12 {
    @media(max-width: 575px) {
      font-size: 12px;
    }
  }
}

.fz-14 {
  font-size: 14px;

  &.fz-lg-12 {
    @media(max-width: 991px) {
      font-size: 12px;
    }
  }
}

.fz-18 {
  font-size: 18px;
  &.fz-lg-16 {
    @media(max-width: 991px){
      font-size: 16px;
    }
  }
}

.fz-20 {
  font-size: 20px;

  &.fz-sm-22 {
    @media(max-width: 575px) {
      font-size: 22px;
    }
  }
}

.text-md-center {
  @media(max-width: 767px) {
    text-align: center;
  }
}

.flex-md-column {
  @media(max-width: 767px) {
    flex-direction: column;
  }
}

.mx-md-auto {
  @media(max-width: 767px) {
    margin-left: auto;
    margin-right: auto;
  }
}

.d-md-none {
  @media(max-width: 767px) {
    display: none;
  }
}

.d-md-block {
  display: none;

  @media(max-width: 767px) {
    display: block;
  }
}

.d-lg-block {
  display: none;

  @media(max-width: 991px) {
    display: block;
  }
}

.d-lg-flex {
  display: none;

  @media(max-width: 991px) {
    display: flex;
  }
}

.d-lg-flex-reverse {
  @media(max-width: 991px) {
    display: flex;
    flex-direction: row-reverse;
  }
}

.d-lg-none {
  @media(max-width: 991px) {
    display: none;
  }
}

.footerNavTitle {
  @media(max-width: 767px) {
    width: 100%;
  }
}

.fz-xl-14 {
  @media(max-width: 1199px) {
    font-size: 14px;
  }
}

.fz-lg-14 {
  @media(max-width: 991px) {
    font-size: 14px;
  }
}

.fz-md-14 {
  @media(max-width: 767px) {
    font-size: 14px;
  }
}